{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": [2, {"devDependencies": true}],
    "max-len": [2, 100, 2],
    "prefer-rest-params": 0,
    "prefer-spread": 0,
    "strict": 0
  }
}
